<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=localhost;uid=AccelerateU52wt;pwd=&quot;2@3=qb!+1cC|&quot;;Database=Acceleratedb" name="Acceleratedb" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules/>
    </rewrite>
  </system.webServer>
</configuration>
